<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="static/images/5-y.jpg-317x197.jpg" type="image/x-icon">
  <meta name="description" content="Розыгрыши,  уникальные мероприятия и услуги для корпоративов и частных событий.">
  
  
  <title>MASKI show</title>
  <link rel="stylesheet" href="static/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/parallax/jarallax.css">
  <link rel="stylesheet" href="static/dropdown/css/style.css">
  <link rel="stylesheet" href="static/socicon/css/styles.css">
  <link rel="stylesheet" href="static/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="preload" as="style" href="static/core/css/mbr-additional.css?v=5j38tA"><link rel="stylesheet" href="static/core/css/mbr-additional.css?v=5j38tA" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-uHGyNzZf0y" once="menu" id="menu-5-uHGyNzZf0y">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="#hero-15-uHGyNzZAgl">
						<img src="static/images/5-y.jpg-317x197.jpg" alt="maxkosalex creater" style="height: 5rem;">
					</a>
				</span>
				
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
						<a class="nav-link link text-white display-4" href="#pricing01-p">Услуги</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-white display-4" href="#slider04-o" aria-expanded="false">Галерея</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-white display-4" href="#about-us-4-uHGyNzZAr9">О нас</a>
					</li></ul>
				<div class="navbar-buttons mbr-section-btn"><a class="btn btn-white-outline display-4" href="#contacts-3-uHGyNA1ADA">Контакты</a></div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-uHGyNzZAgl mbr-fullscreen mbr-parallax-background" id="hero-15-uHGyNzZAgl">
  

  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1"><strong>MASKI show&nbsp;</strong></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Готовы к захватывающим шоу и незабываемым впечатлениям!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="#contacts-3-uHGyNA1ADA">Присоединяйтесь!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-uHGyNzZAlm" id="gallery-13-uHGyNzZAlm">
  
  
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-12">
        <div class="embla position-relative" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="6" data-draggable="true">
          <div class="embla__viewport">
            <div class="embla__container">
              
              
              
              
              <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-4000-1.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="0" data-bs-slide-to="0">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-4021.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-3986.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-3939.jpg-1200x1800.jpg" alt="maxkosalex creater" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="embla__button embla__button--prev">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Previous</span>
          </button>
          <button class="embla__button embla__button--next">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article4 cid-uHGyNzZAr9" id="about-us-4-uHGyNzZAr9">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="static/images/img-3889.jpg-1256x837.jpg">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
						<strong>Кто мы?</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-3 display-7"><strong>MASKI show</strong> — команда, которая превращает экстрим в настоящее искусство! Мы создаем захватывающее и невероятное шоу, которое оставляет зрителей в восторге. Наши мероприятия не только веселят, но и пробуждают острые ощущения, где каждый момент насыщен напряжением и юмором.&nbsp;<br></p>

					<p class="mbr-text mbr-fonts-style mb-3 display-7">Мы работаем с профессионалами, которые мастерски внедряют элементы неожиданных ситуаций в повседневную жизнь, создавая уникальные и незабываемые сценарии.</p>
					<p class="mbr-text mbr-fonts-style mb-3 display-7">Присоединяйтесь к нам, чтобы увидеть, как выглядит настоящая неожиданность!</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="start article2 cid-uINO1LKJXj" id="article02-15">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="static/images/img-4053.jpg-1256x837.jpeg" alt="maxkosalex creater">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Что делает наша команда?</strong></h1>
					<p class="mbr-text align-left mbr-fonts-style mb-4 display-7"><strong>MASKI show</strong> — мастера неожиданных ситуаций, которые превращают обычный день в настоящее шоу. Мы разрабатываем и проводим уникальные шоу, основанные на реальных реакциях людей. Каждое наше действие — это тщательно спланированная постановка с элементами сюрприза и адреналина, которая делает любое событие ярким и запоминающимся.
<br>
<br>Мы используем передовые методы маскировки, сценарные ходы и неожиданные повороты, чтобы создать атмосферу, в которой участники чувствуют себя как в кино, а зрители — как в эпицентре увлекательных событий.</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-uHM1Q2VQXN" id="slider04-o">
  
  
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-12">
        <div class="embla position-relative" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="6" data-draggable="true">
          <div class="embla__viewport">
            <div class="embla__container">
              
              
              
              
              <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-3873.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="0" data-bs-slide-to="0">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-4064.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-4147.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-3902.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-4157.jpg-1200x1800.jpg" alt="maxkosalex creater" title="" data-slide-to="4" data-bs-slide-to="4">
                    </div>
                  </div>
                </div>
              </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="static/images/img-3886.jpg-1200x800.jpg" alt="maxkosalex creater" title="" data-slide-to="5" data-bs-slide-to="5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="embla__button embla__button--prev">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Previous</span>
          </button>
          <button class="embla__button embla__button--next">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people04 cid-uHGyNA0Qsp" id="testimonials-3-uHGyNA0Qsp">
	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Отзывы</strong>
				</h3>
				
			</div>
		</div>
		<div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">MASKI show создали потрясающее шоу, которое оставило нас в полном восторге! Эмоции были на высоте!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="static/images/photo-1679746584014-fb31d4eb0a5e.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Иван Петров</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7"><br>Каждый момент был продуман до мелочей. Ребята точно знают, как создать атмосферу полного удивления!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="static/images/photo-1589571894960-20bbe2828d0a.jpeg" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Анна Смирнова</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Реальные эмоции, неожиданные повороты и отличное исполнение — MASKI show знают, как по-настоящему удивить!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="static/images/photo-1545803928-04e3f4cdd4ed.jpeg" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Елена Васильева</strong>
						</h5>
					</div>
				</div>
			</div><div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7"><br>Просто фантастика! Не думали, что такие события могут быть настолько увлекательными и полными неожиданностей.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="static/images/photo-1626899798511-c3eaacb02846.jpeg" data-slide-to="3" data-bs-slide-to="3" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Дмитрий Кузнецов</strong>
						</h5>
					</div>
				</div>
			</div>
			
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7"><br><br>Команда профессионалов, которые знают свое дело!<br><br></p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="static/images/photo-1497485692312-a26e1cc30f1d.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Сергей Иванов</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7"><br>Никогда не встречали такую команду! Каждый момент был насыщен эмоциями и полной неожиданностью.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="static/images/photo-1692558588242-57cec1e32bba.jpeg" data-slide-to="5" data-bs-slide-to="5" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Мария Федорова</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features03 cid-uHGyNA1tZF" id="news-1-uHGyNA1tZF">
  
  
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Наши новости</strong></h4>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-3 active">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="static/images/photo-1566140967404-b8b3932483f5.jpeg" alt="maxkosalex creater" title="">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
              <strong>Новый розыгрыш на горизонте!</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2025-04-01</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Не пропустите наш следующий розыгрыш! Участвуйте и выигрывайте крутые призы!</p>
            
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="static/images/photo-1557804506-669a67965ba0.jpeg" alt="maxkosalex creater" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Секретные миссии ОМОН</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2025-03-15</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Наши секретные миссии всегда полны адреналина и неожиданных поворотов!</p>
            
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="static/images/photo-1522071901873-411886a10004.jpeg" alt="maxkosalex creater" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Корпоративы с ОМОН</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2025-02-20</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Организуем корпоративы, которые запомнятся надолго!</p>
            
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="static/images/photo-1556761175-b413da4baf72.jpeg" alt="maxkosalex creater" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Галерея наших мероприятий</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2025-01-10</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Посмотрите, как мы развлекаем людей на наших мероприятиях!</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header18 cid-uHGyNA1QIZ mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/QwszX3r3KiM?autoplay=1&amp;loop=1&amp;playlist=QwszX3r3KiM&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="video-5-uHGyNA1QIZ">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="list1 cid-uHGyNA1nnR" id="faq-1-uHGyNA1nnR">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Часто задаваемые вопросы</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">&nbsp;Как можно заказать шоу?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Вы можете связаться с нами через наш сайт, WhatsApp, Telegram или по телефону, указанных в разделе контактов.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_9" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Какие мероприятия могут быть организованы?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Мы организуем шоу для корпоративов, праздников, мероприятий на открытом воздухе и частных встреч.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_9" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Можно ли заказать шоу для большого числа участников?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Конечно! Мы подбираем формат шоу в зависимости от количества участников и вашего мероприятия.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_9" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Какая подготовка требуется для проведения шоу?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Вам нужно предоставить место, участников, и информацию, которая поможет нам выявить причину задержания участников, а остальное сделаем мы.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_9" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Как быстро мы получим ответ на запрос?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Мы отвечаем на все запросы в течение 24 часов, обычно быстрее, в зависимости от загруженности.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing1 cid-uHM2bwlxHJ" id="pricing01-p">
  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Цены на услуги</strong></h4>
          
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb active">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Стандарт</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7"><strong>25 000 ₽</strong></h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7"><strong>
              Три</strong> актера<br>оперативники + следователь в штатском
            </p>
          </div>
          
        </div>
      </div><div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Эконом</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7"><strong>15 000 ₽</strong></h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7"><strong>
              Два</strong>&nbsp;актёра<br>оперативник + следователь в штатском
            </p>
          </div>
          
        </div>
      </div><div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Премиум</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7"><strong>30 000 ₽</strong></h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7"><strong>Четыре</strong> актера
<br>оперативники + следователь в штатском</p>
          </div>
          
        </div>
      </div>

      

      
      
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="pricing1 cid-uINWiYxgvK" id="pricing01-18">
  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5"><strong>Дополнительные&nbsp;услуги</strong></h4>
          
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="item features-without-image col-12 col-md-6 col-lg-6 item-mb active">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5"><strong>Минивэн&nbsp;</strong></h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7"><strong>3 000 ₽</strong></h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7">Минивэн с нашим водителем для транспортировки</p>
          </div>
          
        </div>
      </div><div class="item features-without-image col-12 col-md-6 col-lg-6 item-mb">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Такси</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7"><strong>5 000 ₽</strong></h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7">Такси с нашим водителем</p>
          </div>
          
        </div>
      </div>

      

      
      
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="image02 cid-uHGyNA1tGI mbr-fullscreen mbr-parallax-background" id="image-13-uHGyNA1tGI">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-uHGyNA102T" id="contact-form-3-uHGyNA102T">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Связаться с нами</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="M16EgfnvRs3Ku/VTLRots5swU/RgtQb9uRjZoZhNcSZvkvagKD6u2ZohmDuR9+MO3RRlSVDjEdrrKDAnlHUA/9C/MGf0OBd6cZzEVfh1rxuQSkkavWfsSpcZajUFr0GH">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Имя" data-form-field="name" class="form-control" value="" id="name-contact-form-3-uHGyNA102T">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-uHGyNA102T">
                        </div>
                        <div class="col-12 form-group mb-3 mb-3" data-for="url">
                            <input type="url" name="url" placeholder="Телефон" data-form-field="url" class="form-control" value="" id="url-contact-form-3-uHGyNA102T">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Сообщение" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-uHGyNA102T"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-white-outline display-7">Отправить</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts4 map1 cid-uHGyNA1ADA" id="contacts-3-uHGyNA1ADA">

	

    <div class="main_wrapper">
		<div class="b_wrapper">
			<div class="container-fluid">
				<div class="row justify-content-start">
					<div class="col-md-5 col-lg-4 item-wrapper">
                        <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                            <strong>Контактная информация</strong>
                        </h5>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">
                            Телефон:                                
                            <a href="tel:+7 (123) 456-78-90" class="text-black">+7 (123) 456-78-90</a></li>

                            <li class="mbr-text item-wrap">WhatsApp: 
                            <a href="tel:+7 (123) 456-78-90" class="text-black">+7 (123) 456-78-90</a></li> 

                            <li class="mbr-text item-wrap">                            
                            Email:
                            <a href="mailto:info@omon.ru" class="text-black">info@omon.ru</a>                        
                            </li>

                            <li class="mbr-text item-wrap">                        
                            Адрес:
                            Москва, ул. Примерная, д. 1
                            </li>

                            <li class="mbr-text item-wrap">
                            Часы работы:
                            Пн-Пт: 9:00-18:00
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt1265A4qvZy9HKUeA8J15AOC4SrCyZe4&amp;q=St%20Petersburg%20Russian%20Federation" allowfullscreen=""></iframe></div>
	</div>
</section>

<section data-bs-version="5.1" class="footer4 cid-uHGyNA1Gav" once="footers" id="footer-4-uHGyNA1Gav">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">© 2025 MASKI show. Все права защищены.</p>
            </div>
        </div>
    </div>
</section>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="static/parallax/jarallax.js"></script>  <script src="static/smoothscroll/smooth-scroll.js"></script>  <script src="static/ytplayer/index.js"></script>  <script src="static/dropdown/js/navbar-dropdown.js"></script>  <script src="static/embla/embla.min.js"></script>  <script src="static/embla/script.js"></script>  <script src="static/masonry/masonry.pkgd.min.js"></script>  <script src="static/imagesloaded/imagesloaded.pkgd.min.js"></script>  <script src="static/vimeoplayer/player.js"></script>  <script src="static/mbr-switch-arrow/mbr-switch-arrow.js"></script>  <script src="static/theme/js/script.js"></script>  <script src="static/formoid/formoid.min.js"></script>

  
</body>
</html>